Package: me.noobpk.hiddenjailbreak
Name: HiddenJailbreak
Version: 1.0.3b
Architecture: iphoneos-arm
Description: A Bypass Jailbreak Detection Tweak!
Maintainer: noobpk <ltp.noobpk@gmail.com>
Author: Lê Thành Phúc <ltp.noobpk@gmail.com>
Section: Tweaks
Depends: com.opa334.altlist, ws.hbang.common
